SOURCE_HOST= "{{ mariadb_datadup_dump_host | default('localhost') }}"
SOURCE_USER= "{{ mariadb_datadup_dump_user | default('datadump') }}"
SOURCE_PASSWORD= "{{ mariadb_datadup_dump_password | default('datadumppassword') }}"
SOURCE_PORT= "{{ mariadb_datadup_dump_port | default(3306) }}"
SOURCE_DB= "{{ mariadb_datadup_dump_schema }}"
 
DESTINATION_HOST= "{{ mariadb_datadup_load_host | default('localhost') }}"
DESTINATION_USER= "{{ mariadb_datadup_load_user | default('dataload') }}"
DESTINATION_PASSWORD= "{{ mariadb_datadup_load_password | default('dataloadpassword') }}"
DESTINATION_PORT= "{{ mariadb_datadup_load_port | default(mariadb_datadup_load_port) }}"
DESTINATION_DB= "{{ mariadb_datadup_load_schema }}"

# Split table into chunks of this many rows
# Warning: This option disables CHUNK_FILESIZE
ROWS= "{{ mariadb_datadup_mydumper_rows | default('50000') }}"

#Split tables into chunks of this output file size. Size in MB.
#CHUNK_FILESIZE= "{{ mariadb_datadup_mydumper_chunk_filesize | default('4096') }}"

# The number of threads to use for dumping data, default is ceil(25% of #vcpu)
EXPORT_THREADS= "{{ mariadb_datadup_dump_threads }}"

# The number of threads to use for loading data, default is ceil(50% of #vcpu)
IMPORT_THREADS= "{{ mariadb_datadup_load_threads }}"
